body, html {

    padding:5;
    margin:5;


}

.div1 {

    height: 35px;
    background-color: #000000;
    padding: 2px;
    
}

.but {
   
    height: 25px;
    width: 25px;
    margin-left: 30px;
    margin-top: 2px;
    border-radius: 50%;

}


.but2 {
   
    height: 25px;
    width: 100px;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 10%;
    background-color: white;

}
